
# Clion files
.idea/
# Prerequisites
*.d

# CMake output
compile_commands.json
cmake_build/
build/

# Google Test output files
*.xml

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Google Test
**/_deps/

# CMake
**/CMakeCache.txt
**/*.cmake
**/Makefile
**/bin/**
**/lib/**
**/CMakeFiles/**
